
body{
    padding: 9em;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-size: 4.5em;
    width: 25%;
    color: rgb(255, 0, 119);
    line-height: 1em;
}

button{
    background: none;
    border: 1px solid rgb(255, 187, 0);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    padding: .5em 1em;
    color: rgb(255, 187, 0);
    transition: all 0.4s;
    cursor: pointer;
}

button:focus{
    outline: none;
}

button:hover{
    color: white;
    background-color: rgb(255, 187, 0);
}

.panel{
    position: absolute;
    width: 55%;
    bottom: 0;
    right: 0;
    background: rgb(255, 0, 119);
    box-sizing: border-box;
    padding: 15% 17%;
    padding-left: 4%;
    padding-right: 10%;
    color: white;
    transform: scaleY(0);
    transform-origin: bottom;

    img{
        width: 130px;
        float: left;
        margin-right:25px ;
        opacity: 0;
        transform:translateY(-100px);
    }

    p{
        font-size:1.6em;
        width: 80%;
        opacity: 0;
        transform:translateX(+200px);
    }
    .box{
        border: 5px solid rgb(255, 156, 202);
        width: 640px;
        height: 300px;
        position: absolute;
        left: -6.7%;
        top: 19%;
        z-index: 0;
        opacity: 0;
        transform: scale(0);
    }
}
